
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111420;
}

header{
    background: white;
    padding: 40px;

}
header  h1{
    color: #111420;
    text-align: center;
    font-family: Asap, sans-serif;
    font-weight:bolder;
}

.score-board{
    border: 3px solid #dc2247;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding:15px 20px;
    width :200px;
    margin: 20px auto;
    margin-top: 68px;
    color: #111420;
    font-size: 46px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge{
background-color: #dc2247;
color: white;
font-size: 30px;
padding: 25px 10px;
font-family: Asap, sans-serif;
border-radius: 2px;
}

#userlabel{
    position: absolute;
    bottom:-3.8px;
    left: -25px;
}

#pclabel{
    position: absolute;
    bottom: -3.8px;
    right: -23px;
}

#userscore{
    font-weight: bolder;
    /* color: #dc2247; */
}
#pcscore{
    font-weight: bolder;
    /* color: #dc2247; */
}

.result{
    font-size: 40px;
    color: white;
}

.result p{
    text-align: center;
    font-family: Asap, sans-serif;
    /* font-weight: bold; */
    font-size: 35px;
    margin-top: 10px;
}

.choices{
    text-align: center;
    margin-top: 35px ;

}
.choice{
    display: inline-block;
    border: 3px solid rgba(255, 255, 255, 0.321);
    border-radius: 50%;
    padding: 10px;
    margin: 60px 40px 40px 0px;
    transition: all 0.3s ease;
}

.choice:hover{
    background: #020202;
    cursor: pointer;
}

.choice img{
    height: 100px;
    width: 100px;
}

#actionmesssage{
    text-align: center;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

footer h1{
    font-family: Asap, sans-serif;
    font-size: 8px;
    color: white;
    text-align: center;
    margin-top: 40px;  
    position: sticky;
}
footer h1 a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.greenglow{
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.redglow{
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.grayglow{
    border: 4px solid #464647;
    box-shadow: 0 0 10px #5a6063;
}
@media (max-width: 501px) {

    .choice img{
        height: 40px;
        width: 40px;
    }
    .choices{
        margin-left: 30px;
    }
    
    .result{
        font-size: 20px;
        color: white;
    }

}